{% extends "base.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="user-panel" id="userPanel">
        <!-- Users will be dynamically added here using JavaScript -->
    </div>
    <div class="chat-panel">
        <div class="chat-header" id="chatHeader">
            <!-- User name will be dynamically added here using JavaScript -->
        </div>
        <div class="chat-messages" id="chatMessages">
            <!-- Chat messages will be dynamically added here using JavaScript -->
        </div>
        <div class="message-input">
            <input type="text" id="messageInput" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
    <script src="{% static 'chat/script.js' %}"></script>
{% endblock %}